body {
    background-image: url(https://source.unsplash.com/random/?nature);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    animation: zoomin 120s linear infinite;
}

@keyframes zoomin {
    0% { background-size: 100% auto; }
    50% { background-size: 125% auto; }
    100% { background-size: 100% auto; }
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
    @keyframes zoomin {
        0% { background-size: 100% auto; }
        50% { background-size: 200% auto; }
        100% { background-size: 100% auto; }
    }
}

.wrapper, .newquote, .controls {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.quote, .newquote {
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, 'Arial Narrow', Arial, sans-serif;
    color: rgb(25, 23, 28);
    font-weight: 400;
    width: 340px;
    background-color: rgb(250, 249, 250);
    padding: 8px 12px;
}

.name {
    font-weight: 600;
    color: rgb(30, 144, 255);
}

.newquote {
    top: 95%;
    width: 120px;
    height: 40px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.controls {
    top: 96%;
    left: 97%;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 80px;
}

@media only screen and (max-width: 960px) {
    body {
        background-image: url(https://source.unsplash.com/random/900x1600/?nature);
    }
    .newquote {
        top: 90%;
    }
    .controls {
        top: 90%;
        left: 90%;
    }
}